*{
  text-align: center;
  font-size: 20px;

}

body {
  background-color: rgb(134, 97, 168);
  color:white;
 
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  border: white 1px solid;
}

img {
  height: 20px;
  width: 20px;
}

.formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} 

.board-container {
  margin: auto;
  display: inline-block;
  padding: 50px;
  margin-left:25px;

}

